*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.background{
  /* margin: 0; */
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(25, 25, 25, 0.75), rgba(25, 25, 25, 0.75)), url(./images/backgroud.jpg);
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
  background-repeat: repeat-y;
  height: '100%';
}

.header {
  width: 95%;
  margin: auto;
  padding: 30px 0;
  display:  flex;
  align-items: center;
  justify-content: center;
}

.ViewCart {
  padding: 1%;
  margin-inline: 40px;
}

.Profile {
  padding: 1%;
}

.logo {
  width: 200px;
  cursor: pointer;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: right;
  justify-content: center;
  border-radius: 60px; /* make edges more round*/
  padding: 5px 5px;
  backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 5px 5px;
  font-size: 16px;
  color: #ffffff;
}

::placeholder {
  color: #ffffff;
}

.search-bar button img {
  width: 20px;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #999999;
  cursor: pointer;
}

.content {
  width: 100%;  
  transform: translateX(-50%); 
  text-align: center; /* Center-align the text inside the content */
  margin-left: 50%;
  justify-content: center;
  color: #ffffff;
}

.content h1 {
  font-size: 25px;
  margin-top: 10px;
  font-family: cursive;
}

.content button {
  width: 200px;
  padding: 44px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  font-family: cursive;
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: rgba(10, 51, 7, 0.5);
}

.content span {
  background: #60ee08;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.content button:hover span {
  width: 100%;
}

.content button:hover {
  border: none;
}

.logo-button {
  margin-right: 40px;
  background:none;
  border-radius: 10px; /* make edges more round*/
}

.price {
  font-size: larger;
  color: #60ee08;
  width: 69px;
  padding: 1%;
  flex: 0.25;
}

.footer{
  text-align: center;
  justify-content: center;
}

.compare-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  gap: 20px; /* Add vertical spacing between items */
  padding: 2.5%;
}

.compare-item {
  display: flex;
  justify-content: space-between; /* Evenly space the parts horizontally */
  align-items: center; /* Center items vertically */
  border: 4px solid #000; /* Add a border or customize as needed */
  padding: 10px;
  background-color: #999999;
  border-radius: 15px;
}

.compare-header {
  display: flex;
  justify-content: center;
  flex-direction: row; /* Stack items vertically */
}

.compareHeading {
  display: inline-block; /* Ensure the heading takes only the necessary width */
  text-align: center;
  margin-inline: 100px;
}

.sorting-Feature {
  background-color: #999999;
  color: #fff;
  border: 2px solid #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: right;
}

.store-name,
.store-address {
  flex: 1; /* Allows each part to expand and take equal space horizontally */
  font-weight: bold;
}

.product-name {
  flex: 1; /* Allows each part to expand and take equal space horizontally */
  font-size: 25px;
  font-weight: bolder;
}
.compareHeading{
  align-self: center;
  font-size: xx-large;
  font-family: cursive;
  color: white;
}

.AddToCart {
  background-color: #999999;
  color: #fff;
  border: 2px solid #000;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: right;
}

.AddToCart:hover {
  background-color: #008000;
}

/* CheckOutPage */
.CheckOutContainer{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(25, 25, 25, 0.75), rgba(25, 25, 25, 0.75)), url(./images/backgroud.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  font-family: 'Arial', sans-serif;
}

*{
  font-family: 'Arial', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}

.CheckOutContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:25px;
  min-height: 100vh;
}

.CheckOutContainer form{
  padding:20px;
  width:700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  border-radius: 10px;
}

.CheckOutContainer form .row{
  display: flex;
  flex-wrap: wrap;
  gap:15px;
}

.CheckOutContainer form .row .col{
  flex:1 1 250px;
}

.CheckOutContainer form .row .col .title{
  font-size: 20px;
  color:#333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.CheckOutContainer form .row .col .inputBox{
  margin:15px 0;
}

.CheckOutContainer form .row .col .inputBox span{
  margin-bottom: 10px;
  display: block;
}

.CheckOutContainer form .row .col .inputBox input{
  width: 100%;
  border:1px solid #ccc;
  padding:10px 15px;
  font-size: 15px;
  text-transform: none;
  border-radius: 10px;
}

.CheckOutContainer form .row .col .inputBox input::placeholder{
  color: grey;
}


.CheckOutContainer form .row .col .inputBox input:focus{
  border:1px solid #000;
}

.CheckOutContainer form .row .col .flex{
  display: flex;
  gap:15px;
}

.CheckOutContainer form .row .col .flex .inputBox{
  margin-top: 5px;
}

.CheckOutContainer form .submit-btn{
  width: 100%;
  padding:12px;
  font-size: 17px;
  background: #6853d1;
  color:#fff;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.CheckOutContainer form .submit-btn:hover{
  background: #12b754;
}

.cartPage-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  gap: 20px; /* Add vertical spacing between items */
  padding: 2.5%;
}

.cart-item {
  display: flex;
  justify-content: space-between; /* Evenly space the parts horizontally */
  align-items: center; /* Center items vertically */
  border: 4px solid #000; /* Add a border or customize as needed */
  padding: 10px;
  background-color: #999999;
  border-radius: 15px;
  margin-bottom: 20px;
}

.cart-store-name,
.cart-store-address {
  flex: 1; /* Allows each part to expand and take equal space horizontally */
  font-weight: bold;
}

.cart-product-name {
  flex: 1; /* Allows each part to expand and take equal space horizontally */
  font-size: 25px;
  font-weight: bolder;
}

.cartPage-Heading {
  align-self: center;
  font-size: xx-large;
  font-family: cursive;
  color: white;
}

.cart-price {
  font-size: larger;
  color: #60ee08;
  width: 69px;
  padding: 1%;
  flex: 0.25;
}

/* Style for the total price paragraph */
.cart-total-price {
  font-size: larger;
  color: #60ee08;
  margin-right: 5px; /* Add right margin for spacing */
  text-align: right;
  margin-top: 20px;
}

/* Style for the Checkout button */
.cart-checkout-button {
  background-color: #999999;
  color: #fff;
  border: 2px solid #000;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: right;
  float: right;
}

/* Hover effect for the Checkout button */
.cart-checkout-button:hover {
  background-color: #0056b3;
}

.cart-checkout-error {
  color: #d11a2a;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-family: cursive;
  font-weight: bold;
  font-size: 25px;
}

.cart-remove-button {
  background-color: #999999;
  color: #fff;
  border: 2px solid #000;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: right;
}

.cart-remove-button:hover {
  background-color: #d11a2a;
}

.ViewCart, .Profile {
  background-color: #999999;
  color: #fff;
  border: 2px solid #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: right;
}

.ViewCart:hover, .Profile:hover, .sorting-Feature:hover {
  background-color: #007BFF;
}

.delivery-and-price {
  display: inline-block;
  margin-left: auto; /* Push the container to the right */
  margin-right: 0; /* Remove the right margin */
  text-align: right; /* Align the contents to the right */
}

.delivery-label {
  font-weight: bold; /* Make the label text bold */
  display: inline-block; /* Display the label inline with the input */
  margin-right: 10px; /* Add some spacing between the label and input */
  color: white; /* Text color */
  font-family: cursive;
  margin-inline: 30px;
}

.delivery-label::placeholder {
  text-transform: uppercase;
}

.delivery-input {
  padding: 5px; /* Add padding for better visual spacing */
  border: 1px solid #ccc; /* Add a border for a clean look */
  border-radius: 4px; /* Round the input corners */
  font-size: 16px; /* Font size */
}

/* Add focus styles for better user experience */
.delivery-input:focus {
  border-color: #007BFF; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle box shadow on focus */
}